/* #region comun */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --zala-header:#ff6900;
    --zala-main:#ffffff;
    --zala-footer:#1a1a1a;
    --zala-discount:#ff0000;
    --zala-sostenibility:#008000;
    --zala-txt:#fff5ee;
}
img{
    max-width: 100%;
}
ul.list-unstyled{
    display: flex;
    list-style: none;
    gap: 10px;
    color: var(--zala-txt);
}
/* #endregion comun */

/* #region utility */
.d-flex{
    display: flex;
}
.conteiner{
    display: flex;
    width: 80%;
    margin: auto;
}
.justify-content-between{
    justify-content: space-between;
}

/* #endregion utility */


/* #region debug */

.debug *{
    border: 1px dashed;
}


.debug header{
    background-color: red;
}
.debug footer{
    background-color: deepskyblue;
}
.debug .conteiner{
    background-color: blue;
}
.debug .menu{
    background-color: yellow;
    
}
.debug .logo{
    background-color: green;
    
}
.debug .personal{
    background-color: deeppink;
    
}
.debug .product{
    background-color: black;
    height: 250px;
    width: 200px;
}
.debug .product:hover{
    background-color: lime;
    height: 250px;
    width: 200px;
}
.debug .discount{
    background-color: red;
}
.debug .sostenibility{
    background-color: green;
}
/* #endregion debug */


/* #region header */
#App_Header{
    background-color: var(--zala-header);
    .menu{
        width: 25%;
        display: flex;
        align-items: center;
    }
    .logo{
        box-sizing: border-box;
        display: flex;
        text-align: center;
        width: 20%;
        /* padding: .5rem; */
        img{
            padding: 1rem;

        }
    
    }
    .personal{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
}


/* #endregion header */

/* #region main */

#App_main{
    margin: 2rem 0;
    .conteiner{
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        .card{
            width: calc( (100% / 3) - 2rem);
            .product{
                position: relative;

            }
    
            .discountLayer{
                position: absolute;
                bottom: 2rem;
            }
            .discount, .sostenibility{
                display: inline-block;
                color: var(--zala-txt);
                padding: 3px 8px;
                font-size: .75rem;
            }
            .discount{
                background-color: var(--zala-discount);
            }
            .sostenibility{
                background-color: var(--zala-sostenibility);
            }
            .brend{
                font-size: .75rem;
            }
            .name{
                font-weight: bold;
            }
            span:first-child{
                color: var(--zala-discount);
                font-weight: bold;
            }
            .like{
                position: absolute;
                display: flex;
                right: 0;
                top: .25rem;
                background-color: white;
                width: 10%;
                aspect-ratio: 1;
                align-items: center;
                justify-content: center;
                font-size: 1.5rem;
                border-radius: 1000px 0 0 1000px;
                padding: 0 20px;               
            }
            .like:hover{
                color: var(--zala-discount);
            }
        }
    }
    .after{
        position: absolute;
    }
    .relaxed:hover{
        content:url(../img/1b.webp)
    }
    .roses:hover{
        content:url(../img/2b.webp)
    }
    .voglia:hover{
        content:url(../img/3b.webp)
    }
    .tshirt:hover{
        content:url(../img/4b.webp)
    }
    .stripe:hover{
        content:url(../img/5b.webp)
    }
    .black:hover{
        content:url(../img/6b.webp)
    }
    
}
/* #endregion main */

/* #region footer */
#App_footer{
    padding: 1rem;
    color: var(--zala-txt);
    .social{
        display: block;
        h5{
            text-align: center;
        }
        
    }

}

/* #endregion footer */





